ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; /* Added for the SideBar. Doesn't affect the TopBar */
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#left {
  padding-left: 5px;
  padding-top: 2px;
}

#searchBar {
  margin-top: 15px;
  width: 100px;
  padding: 5px 100px;
}

#right {
  margin: 6px 6px;
  padding: 15px 32px;
}

.Web-logo {
  padding-top: 3px;
  width: 70x;
  height: 50px;
}
#TopBar {
  background-color: #2F4F4F;
  color: gray;
  height: 60px;
}
#SideBar {
  float: left;
  background-color: #416e6e;
  width: 150px;
  /* height: 100%; DOESN'T WORK REEE*/
  height: 700px; /* This number is overkill but since I cant scale it on %, gotta play it safe */ 
}
#AboutUs {
  position: absolute;
  bottom: 10px;
  padding-left: 14px;
}