ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; /* Added for the SideBar. Doesn't affect the TopBar */
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.top {
  display: inline;
}

#left {
  float: left;
  padding-left: 5px;
  padding-top: 2px;
}

#center {
  margin-top: 15; /* Doesn't heckin work*/
}

#right {
  padding-top: 6px;
  padding-right: 7px;
  float: right;
}

.Web-logo {
  padding-top: 3px;
  width: 70x;
  height: 50px;
}

#TopBar {
  background-color: #2F4F4F;
  color: gray;
  height: 60px;
}

#SideBar {
  float: left;
  background-color: #416e6e;
  width: 150px;
  /* height: 100%; DOESN'T WORK REEE*/
  height: 700px; /* This number is overkill but since I cant scale it on %, gotta play it safe */ 
}

#AboutUs {
  position: absolute;
  bottom: 10px;
  padding-left: 14px;
}

span {
  background-color: rgb(13, 138, 138);
}

h1 {
  font-size: 64px;
  padding-left: 200px;
}

.infoSquare {
  height: 70px;
  width: 600px;
  border-style: solid;
  margin: 7px;
  background-color: rgb(179, 162, 162);
}

.actSquare {
  height: 70px;
  width: 580px;
  border-style: solid;
  margin: 7px;
  background-color: rgb(156, 143, 143);
}